body{
background-color: yellow;
}
 
h1 {
    color: chartreuse;
    background-color: gray;
}
#show_sketch{
    float: right;
}
canvas{
    border: 2px solid rgb(151, 20, 226);
    border-radius: 20px;
    animation-name: shadow;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}
@keyframes shadow{
    from {
        box-shadow: 5px 5px 38px blue;
    }
to {
box-shadow: 5px 5px 38px darkgreen;
}
}
p{
    padding-top: 10px;
    font-size: 25px;
}